.background-image {
    background-image: url(../Images/mainbackground.jpg) !important;
    background-size: cover;
    background-position: center;
    position: fixed; 
    width: 100vw; 
    height:100vh; 
    left:0;
    top:15;
}


.main-row{
    height: 85vh;
}

.col-opacity {
    background: rgba(255, 255, 255, 0.7);
}

.card-opacity {
    border: 0px !important;
    margin-top:15px !important;
    background-color: transparent !important;
}

.card-padding {
    padding: 20px;
}

.footer {
    text-align: center;
    color:grey;
    font-size: 1.5vh;
    height: 5vh;
    
}

h1, h6, p, a, label, .form-font {
    font-family: 'Indie Flower', sans-serif;
}

.linkedin{
    width: 100px;
    height: 30px;
    background: url(../Images/linkedIn.png) no-repeat center/contain !important;
    padding: 3px;
    opacity:0.7;
}

.linkedin:hover {
    opacity:1;
}


@media screen and (max-width: 567px) {

    .col-opacity {
        background-color: transparent;
    }

    .card-opacity {
        background: rgba(255, 255, 255, 0.7) !important;
    }

    h1 {
        font-size: 5vh !important;
    }
    h6 , p, a, label, .form-font{
        font-size: 2vh !important;
    }

    .footer {
        background: rgba(255, 255, 255, 1) !important;
    }

    .footer-row {
        margin-top: 1vh;
    }

}

@media screen and (width: 568px) {
    h1 {
        font-size: 30px !important;
    }
    
    h6 , p, a, label, .form-font{
        font-size: 14px !important;
    }

    .card-padding {
        padding: 150px;
        padding-top: 0px;
    }
}

@media screen and (min-width: 812px) and (max-width: 823px){
    h6, p, a, label, .form-font{
        font-size: 3.25vh !important;
    }
}

@media screen and (orientation: landscape){
    .main-row{
        height: 100vh;
    }
}

@media screen and (orientation: landscape) and (max-width: 823px){
    .contact-h1 {
        font-size: 6vh !important;
        margin-bottom: 0px;
    }
    
    label, .form-font {
        font-size: 2vh !important;
    }

    .form-group {
        margin-bottom: 0px !important;
    }

    .contact-button {
        margin-top: 10px !important;
    }
}




@media screen and (min-height: 1024px){
    .main-row{
        height: 100vh;
    }

    .footer {
        font-size: 12px;
    }

    .card-opacity {
        margin-top: 6vh !important;
    }
}